.view {
	display: block;
	max-height: 230px;
    width: 100%;
	overflow: hidden;
    position: relative;
}

.view img {
    display: block;
    max-width: 100%;
    -webkit-transition: .3s ease-out all;
    -moz-transition: 	.3s ease-out all;
    -ms-transition: 	.3s ease-out all;
    -o-transition: 		.3s ease-out all;
    transition: 		.3s ease-out all;
}

.view:hover img {
	-webkit-transform: scale(1.5);
	-moz-transform:    scale(1.5);
	transform:         scale(1.5);
}

.view span:before {
    content: attr(data-hover);
    display: block;
    z-index: 2;
    bottom: 0;
    visibility: hidden;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: #fff;
    opacity: 0;
    padding: 8px 16px;

    -webkit-transform: translate(-50px,0);
    -moz-transform:    translate(-50px,0);
    transform:         translate(-50px,0);

    -webkit-transition: .2s ease-out all;
    -moz-transition:    .2s ease-out all;
    -ms-transition:     .2s ease-out all;
    -o-transition:      .2s ease-out all;
    transition:         .2s ease-out all;
}

.view:hover span:before {
    opacity: 1;
    visibility: visible;

    -webkit-transform: translate(0,0);
    -moz-transform:    translate(0,0);
    transform:         translate(0,0);
}