<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			A hard-working and motivated designer, developer and manager with over 15 years of experience in all
			aspects of a project. Comfortable working as an individual, team member or manager. 
		</p>

		<p>
			Most recently I worked for the folks at <a target="_blank" href="http://claromentis.com">Claromentis</a>,
			an intranet product company based in Brighton. Whilst at Claromentis I developed my skills as a UI Designer,
			mentor and manager, ultimately working as their Product Manager prior to my relocation back to the North East
			in February 2017. 
		</p>

		<p>
			I am passionate about building great web applications and products, my goal is to always strive for simple processes
			and efficiency wherever possible. 
		</p>

		<p>
			<a target="_blank" class="button large" href="/public/assets/alan_jenkins_cv.pdf"><span class="fa fa-file-pdf-o"></span> Download CV</a>
			<a target="_blank" class="button large" href="https://docs.google.com/document/d/1xtrGsfAjW8s9hdqVEkJMyMfiJOYWCiiVVHyKB5Oxtes/edit?usp=sharing"><span class="fa fa-google"></span> Google Doc</a>
		</p>

		<h3>Skills</h3>

		<div class="row">
			<div class="small-6 columns">
				<ul class="no-bullet striped-list">
					<li class="rate rate3">Angular.js</li>
					<li class="rate rate3">ASP.NET (VB, C#, MVC)</li>
					<li class="rate rate5">Axure (Prototyping)</li>
					<li class="rate rate2">ExpressJS</li>
					<li class="rate rate4">GIT (Version Control)</li>
					<li class="rate rate5">HTML/CSS</li>
					<li class="rate rate4">Javascript/jQuery</li>
					
				</ul>
			</div>
			<div class="small-6 columns">
				<ul class="no-bullet striped-list">
					<li class="rate rate3">MongoDb/MongooseJS</li>
					<li class="rate rate3">Scrum/Agile</li>
					<li class="rate rate4">Sketch (for Mac)</li>
					<li class="rate rate4">SQL Server</li>
					<li class="rate rate3">Node.js</li>
					<li class="rate rate3">NPM</li>
					<li class="rate rate5">Photoshop</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="small-6 columns">

				<h3>Expertise</h3>
				
				<ul class="no-bullet striped-list">
					<li>Designing User-interfaces</li>
					<li>Front-end Development</li>
					<li>Prototyping (Hi &amp; Lo-fidelity)</li>
					<li>Roadmaps</li>
					<li>Web application development</li>
					<li>Website Design</li>
					<li>Wire-framing</li>
				</ul>
			</div>
			<div class="small-6 columns">
				<h3>Personal</h3>

				<ul class="no-bullet striped-list">
					<li>Attention to detail</li>
					<li>Dedicated</li>
					<li>Good Communication &amp; Personal skills</li>
					<li>Hard Working</li>
					<li>Lateral Thinking</li>
					<li>Problem solving</li>
					<li>Supportive & Team focused</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="small-3 columns">
		<ul class="no-bullet striped-list">
			<li>
				Name<br />
				<strong>Alan Jenkins</strong>
			</li>
			<li>
				Status<br >
				<strong>Looking for new opportunities</strong>
			</li>
			<li>
				Recent Roles<br />
				<strong>Product Manager, Senior UI Designer & Freelance Developer</strong>
			</li>
			<li>
				Mobile<br />
				<strong>07795 362980</strong>
			</li>
			<li>
				Email<br />
				<strong><a href="mailto:alan@functionfirst.co.uk">alan@functionfirst.co.uk</a></strong>
			</li>
			<li>
				Twitter<br />
				<strong><a href="http://twitter.com/aljenks">@aljenks</a></strong>
			</li>
		</ul>
	</div>
</div>