<h1>Buildmate <small>mobile</small></h1>


<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			Created in photoshop and designed for mobile devices, this concept design was put together
            to illustrate the requirements of a project dashboard for the <a href="#/buildmateapp">Buildmate - App</a>.
		</p>

        <h3>Summary</h3>

	 	<p class="float-right">
			<a target="_blank" href="/public/assets/images/build_mate_app.jpg"><img src="/public/assets/images/build_mate_app.jpg" alt=""></a>
		</p>


        <p>
            The main purpose of this design was an exploration into the requirements needed for a project dashboard. The resulting
            design was focused on providing alerts and a high-level overview across all of the users projects. Therefore the primary
            functionality was the Overdue Projects section at the top of the app. This brought the Users attention directly to any
            projects that were supposed to be returned to the customer imminently or were already past due.
        </p>

        <p>
            Moving down the page a display for Annual Revenue across all projects allowed the user to get a general sense of their
            financial health over the preceding 12 month period. The final section offered a Status management overview, primarily used
            to indicate to the User if there were an excessive numebr of Projects still left Unassigned. The idea being that as many
            projects should be worked through the pipeline through Estimating and back over to their customer as soon as possible. 
        </p>

	</div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>Photoshop</li>
        </ul>
    </div>
</div>