<h1>Buildmate - Mobile</h1>


<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			A single-shot concept design created to illustrate the possibilities available by implementing a project dashboard for the <a href="#/buildmateapp">Buildmate - App</a>.  
			
		</p>

        <h3>Brief</h3>

        <p>
			The brief itself was relatively simple, if Buildmate Software were to offer a mobile specific
			application to their users, what could this look like.
		</p>

        <h3>Summary</h3>

        <p><a href="http://getbuildmate.com">Buildmate</a> dashboard on mobile devices.</p>

		<p>
			<a target="_blank" href="/public/assets/images/build_mate_app.jpg"><img src="/public/assets/images/build_mate_app.jpg" alt=""></a>
		</p>
	</div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>Photoshop</li>
        </ul>
    </div>
</div>