<h1>Buildmate - Mobile</h1>


<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			Conceptual interface design for <a href="http://getbuildmate.com">Buildmate</a> dashboard on mobile devices.
		</p>

        <h3>Brief</h3>

        <p>Lorem ipsum dolor sit amet</p>

        <h3>Summary</h3>

        <p>Lorem ipsum dolor sit amet</p>

		<img src="http://images.functionfirst.co.uk/build_mate_app.jpg" alt="">
	</div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>Photoshop</li>
        </ul>
    </div>
</div>