<h1>Carioca Digital</h1>

<p>
    <a target="_blank" href="/public/assets/images/cd_logo.jpg">View full-size logo <span class="fa fa-external-link"></span></a>
</p>

<div class="row">
    <div class="small-9 columns">
        <p class="lead">
            Concept design and creation of a logo for Carioca Digital, an IT provider and digital agency based in Rio de Janeiro, Brazil.
        </p>

        <p>
            Using the iconic sugarloaf mountain as inspiration while also drawing on the bright, vibrant colours on display at the 
            Carnaval do Brasil I was able to create a simple but effective logo for Carioca Digital.
        </p>

        <p>
            <a target="_blank" href="/public/assets/images/cd_logo.jpg"><img src="/public/assets/images/cd_logo.jpg" alt=""></a>
        </p>
    </div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>Photoshop</li>
        </ul>
    </div>
</div>
