<h1>Carioca Digital</h1>

<div class="row">
    <div class="small-9 columns">
        <p>Initial concept and logo design for Carioca Digital using Photoshop.</p>

        <img src="http://images.functionfirst.co.uk/cd_logo.jpg" alt="">
        
    </div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>Photoshop</li>
        </ul>
    </div>
</div>
