<h1>Infocapture</h1>

<div class="row">
	<div class="small-9 columns">
		<p class="lead">
            This work involved exploring and prototyping a new method of creating custom data forms for Infocapture,
            one of the most popular modules for the <a href="http://claromentis.com">Claromentis</a> intranet platform.

            <!--Created as an exploratory prototype using Javascript and html/css this work was an early stage  

			Interactive, hi-fidelity prototype built using Javascript.
			Video of a drag and drop form building tool. This is an early stage proof of concept that didn't make it to release.-->
		</p>

        <h3>Summary</h3>

        <div class="float-right">
            <iframe width="418" height="315" src="https://www.youtube.com/embed/GVw8rwqRx5o" frameborder="0" allowfullscreen></iframe>
        </div>

        <p>
            For me this was an extremely interesting project to undertake. Going into this project, myself and the rest of the team
            assumed that having the ability to drag and drop fields to create a form would provide a much improved
            user experience. Developing a hi-fidelity prototype to test this theory, the conclusions weren't as expected.
        </p>

        <p>
            The initial prototype used a single toolbar with a number of field type options at the top of the page. By dragging and
            dropping different field types from this toolbar Users were able to create a dynamic form quite quickly. However within
            a few moments of using this method it became obvious that this method was actually quite time consuming. The major
            contributing factor for this was the time it took for the mouse to travel to and from the toolbar each time a new field was
            added. 
        </p>

        <p>
            As a result of this research an alternative solution had to be implemented. In this case a context menu was used, rather than dragging
            to add new fields the User could simply click the field type from the contextual toolbar. The clicked field type was then inserted
            in the selected section. Once inserted in this way, drag and drop was still used to move the fields around in a more localised way.
        </p>
    </div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>UI Designer</li>
            <li>Front-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>HTML5</li>
			<li>CSS</li>
			<li>jQuery</li>
        </ul>
    </div>
</div>