<h1>Claromentis <small>Intranet applications</small></h1>


<h3>Pages</h3>
http://prototypes.claromentis.com/pages2/


	"name" :"Claromentis - Pages Prototype",
	"image" :"pages_proto.jpg",
	"url" :"/claromentis",
	"description" :"Initial stage dashboard mock-up for the Buildmate iPhone application, built using Photoshop.",
	"role" :"Designer/UI",
	"technology" :"Axure",
	"keywords" : ["axure"]

<h3>Quiz Builder</h3>

<h3>Claromentis 7.0 &amp; 8.0</h3>

<h3>Timesheets</h3>
http://prototypes.claromentis.com/timesheets/

"name" :"Timesheets - Prototype (2014)",
	"image" :"timesheets.jpg",
	"url" :"/claromentis",
	"description" :"Low-fidelity prototype for a Timesheet module based on the Claromentis framework. Built using Axure.",
	"role" :"Designer/UI",
	"technology" :"Axure",
	"keywords" : ["axure"]
