<h1>Claromentis</h1>

<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			A large body of work produced during my time working for the folks at <a href="http://claromentis.com">Claromentis</a> in Brighton.
		</p>

		<h3>Intranet applications</h3>

<h3>Pages</h3>
http://prototypes.claromentis.com/pages2/


	"name" :"Claromentis - Pages Prototype",
	"image" :"pages_proto.jpg",
	"url" :"/claromentis",
	"description" :"Initial stage dashboard mock-up for the Buildmate iPhone application, built using Photoshop.",
	"role" :"Designer/UI",
	"technology" :"Axure",
	"keywords" : ["axure"]

<h3>Quiz Builder</h3>

<h3>Claromentis 7.0 &amp; 8.0</h3>

<h3>Timesheets</h3>

<p class="lead">
	Prototyping of a Timesheet module to extend the features available in within the Claromentis intranet framework. 
</p>

<p>
	 Built using Axure, this prototype explored the required features that would allow Project Managers to manage a
	 teams schedule as well as allowing the team to record their actual activity. 
</p>

<p class="text-center">
	<a class="button large" href="http://prototypes.claromentis.com/timesheets/">View Timesheets protototype</a>
</p>

<hr >


"name" :"Timesheets - Prototype (2014)",
	"image" :"timesheets.jpg",
	"url" :"/claromentis",
	"description" :"Low-fidelity prototype for a Timesheet module based on the Claromentis framework. Built using Axure.",
	"role" :"Designer/UI",
	"technology" :"Axure",
	"keywords" : ["axure"]

<h3>Infocapture</h3>
Hi-fidelity prototypes


	"name" :"Claromentis - Infocapture (2012)",
	"image" :"infocapture.jpg",
	"url" :"http://www.youtube.com/watch?v=GVw8rwqRx5o",
	"description" :"Video of a drag and drop form building tool. This is an early stage proof of concept that didn't make it to release.",
	"role" :"Designer/Developer",
	"technology" :"HTML5, CSS3 and jQuery",
	"keywords" : ["html", "css", "jquery"]


	</div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
			<li>Product Manager</li>
			<li>Front-end Developer</li>
			<li>UI Designer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>HTML5</li>
            <li>CSS/Less</li>
			<li>Javascript/jQuery</li>
			<li>AngularJS</li>
        </ul>

		<strong>Design</strong>

		<ul class="no-bullet striped-list">
			<li>Photoshop</li>
			<li>Sketch (for Mac)</li>
		</ul>

		<strong>Prototyping</strong>

		<ul class="no-bullet striped-list">
			<li>Axure</li>
			<li>Sketch (for Mac)</li>
			<li>Javascript</li>
			<li>Hi/Lo Fidelity</li>
		</ul>
    </div>
</div>