<h1>Infocapture (Claromentis 2012)</h1>

<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			Interactive, hi-fidelity prototype built using Javascript.
			Video of a drag and drop form building tool. This is an early stage proof of concept that didn't make it to release.
		</p>

		<iframe width="100%" height="543" src="https://www.youtube.com/embed/GVw8rwqRx5o?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
            <li>Front-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>HTML5</li>
			<li>CSS</li>
			<li>jQuery</li>
        </ul>
    </div>
</div>