<h1>Infocapture <small>claromentis 2012</small></h1>

<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			Interactive, hi-fidelity prototype built using Javascript.
			Video of a drag and drop form building tool. This is an early stage proof of concept that didn't make it to release.
		</p>

        <h3>Summary</h3>

        <div class="float-right">
            <iframe width="418" height="315" src="https://www.youtube.com/embed/GVw8rwqRx5o" frameborder="0" allowfullscreen></iframe>
        </div>
        <p>
            This was an interesting project for me as my assumption going into it was that drag and drop would be a much better solution
            than it actually turned out to be.
        </p>

        <p>
            Issues with this build where. While drag and drop initially seems like a good feature to implement the results of this
            do not match up. The time taken to drag each form element to the location you want, return to the toolbar and pick up
            the next form field is actually becomes quite time consuming.
        </p>

        <p>Through testing it was found that a better method was to implement a context menu on the section the user wanted to manage
            By clicking that section they exposed the available form fields, they could then click directly on the button and this field
            was added to the section. In this way the user was able to quickly click a number of fields which inserted them directly into that section.
            The user was then able to reorganise the layout of fields added to the form using drag and drop.
        </p>
    </div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>UI Designer</li>
            <li>Front-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>HTML5</li>
			<li>CSS</li>
			<li>jQuery</li>
        </ul>
    </div>
</div>