<h1>Claromentis</h1>

<p class="lead">
	A large body of work produced during my time working for the folks at <a href="http://claromentis.com">Claromentis</a> in Brighton.
</p>

<h3>Intranet platform</h3>

<div class="row">
	<div class="small-8 columns">

		<p>
			Introduction to Claormentis in general and some things that I did while I was there.
		</p>

		<h3>Features</h3>

		<ul>
			<li>Prototyping</li>
			<li>Bootstrap/Established a baseline foundation and moved away from inconsistent UI between each modules</li>
			<li></li>
		</ul>

		<hr >
	</div>
	<div class="small-4 columns">
		<strong>Role</strong>

		<ul class="no-bullet striped-list">
			<li>Product Manager & UI Designer</li>
		</ul>

		<strong>Technology</strong>

		<ul class="no-bullet striped-list">
			<li>HTML</li>
			<li>CSS</li>
			<li>Javascript/Jquery</li>
			<li>AngularJS</li>
			<li>Photoshop</li>
			<li>Sketch (for Mac)</li>
		</ul>
	</div>
</div>

<h3>Prototypes</h3>

<div class="row">
	<div class="small-8 columns">
		<p class="lead">
			Various prototypes developed over a number of years. These were designed to be additional modules added to the Claromentis framework
			which brought additional specialised functionality to the system.
		</p>

		<hr>

		<h4>Pages (2016)</h4>
		
		<p>
			<a target="_blank" href="http://prototypes.claromentis.net/pages2/">View Pages prototype <span class="fa fa-external-link"></span></a>
		</p>

		<p>
			Initial prototype for a new Claromentis module. The Pages module was designed to replace an existing but outdated CMS module.
			Pages was designed to be a plug-and-play system that allowed components to be dragged into place on the page and configured in place.
		</p>

		<hr>

		<h4>Quiz Builder (2016)</h4>

		<p>
			<a class="_blank" href="http://prototypes.claromentis.net/quiz/#p=quiz">View Quiz Builder protototype <span class="fa fa-external-link"></span></a>
		</p>

		<hr>

		<h4>Timesheets - Prototype (2014)</h4>

		<p>
			<a class="_blank" href="http://prototypes.claromentis.net/timesheets/">View Timesheets protototype <span class="fa fa-external-link"></span></a>
		</p>

		<p>
			Low-fidelity prototype for a Timesheet module based on the Claromentis framework. Built using Axure.
			Prototyping of a Timesheet module to extend the features available in within the Claromentis intranet framework.
		</p>
		
		<p>
			Built using Axure, this prototype explored the required features that would allow Project Managers to manage a
			teams schedule as well as allowing the team to record their actual activity. 
		</p>

	</div>
	<div class="small-4 columns">
		<strong>Role</strong>

		<ul class="no-bullet striped-list">
			<li>UX/UI Designer</li>
		</ul>

		<strong>Technology</strong>

		<ul class="no-bullet striped-list">
			<li>Axure</li>
		</ul>
	</div>
</div>