<h1>Content Manager <small>shatteredscales.co.uk</small></h1>

<p>
    <a target="_blank" href="http://shatteredscales.co.uk">View website <span class="fa fa-external-link"></span></a>
</p>

<div class="row">
    <div class="small-9 columns">
        <p class="lead">
            An elegant content management system, designed to be simple to interactive with using a minimal UI. The architecture itself was
             based around a MongoDB document database accessed using an Express/MongooseJS Rest API.
        </p>
        
        <h3>Features</h3>

        <ul>
            <li>Inline page editing</li>
            <li>Drag and drop image upload</li>
            <li>Simple page creation</li>
            <li>Auto-saving</li>
            <li>Private/Public pages</li>
            <li>Blog system </li>
            <li>Universal commenting system for Blogs & Pages</li>
        </ul>

        <h3>Summary</h3>

        <p>
            Inline editing allowed an administrator to simply click on the live page and start editing. A built in contextual toolbar provided simple text
            formatting
        </p>

        <p>
             To create a page simply highlight some text and type a link to a non-existent page, click the link you just created, then click 'Create'.
        </p>
    </div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Front & Back-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li><em>M</em>ongoDb</li>
            <li><em>E</em>xpressJs</li>
            <li><em>A</em>ngularJS</li>
            <li><em>N</em>odeJS</li>
            <li>HTML</li>
            <li>CSS/Less</li>
        </ul>

        <strong>Integrations</strong>

        <ul class="no-bullet striped-list">
            <li>AWS S3 Storage</li>
        </ul>

		<strong>Deployed with</strong>

		<ul class="no-bullet striped-list">
			<li>Gulp, NPM & GIT</li>
		</ul>

        <strong>Hosted by</strong>

        <ul class="no-bullet striped-list">
            <li><a target="_blank" href="https://m.do.co/c/31ca404ca4ce">DigitalOcean <span class="fa fa-external-link"></span></a></li>
        </ul>
    </div>
</div>
