<h1>Buildmate <small>getbuildmate.com</small></h1>

<p>
    <a target="_blank" href="http://getbuildmate.com">View website <span class="fa fa-external-link"></span></a>
</p>

<div class="row">
    <div class="medium-9 columns">
        <p class="lead">
            A marketing focused website designed to promote the Buildmate web application which supports builders and tradesmen
            by simplifying the creation and management of their projects and customer base.
        </p>

        <a target="_blank" class="float-right" href="http://getbuildmate.com"><img src="/public/assets/images/getbuildmate.jpg"></a>

        <h3>Features</h3>

        <ul>
            <li>Static content</li>
            <li>Simple contact form</li>
            <li>Blogs</li>
            <li>Knowledge Base</li>
            <li>Admin management for Blogs & Knowledege Base articles</li>
        </ul>

        <h3>Summary</h3>

        <p>
            I designed and built a marketing website populated with a mix of static and dynamically generated content. While the content and feature pages
            were staticly managed, I also implemented a Blog and Knowledge base system to provide support to existing customers as well as providing
            quality content to contribute to the effectiveness of search engine optimisation.
        </p>
    </div>
    <div class="medium-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
            <li>Back-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>ASP.NET (MVC)</li>
            <li>C#</li>
            <li>SQL Server</li>
            <li>Photoshop</li>
            <li>HTML5</li>
            <li>CSS/Less</li>
        </ul>

        <strong>Hosted by</strong>

        <ul class="no-bullet striped-list">
            <li><a target="_blank" href="aspnethosting.co.uk">ASPNEThosting <span class="fa fa-external-link"></span></a></li>
        </ul>
    </div>
</div>