<h1>Buildmate <small>getbuildmate.com</small></h1>

<p>
    <a target="_blank" href="http://getbuildmate.com">View website <span class="fa fa-external-link"></span></a>
</p>

<div class="row">
    <div class="small-9 columns">
        <p class="lead">
            Website for Buildmate Software Ltd, including a custom Blog and Knowledge Base system.
        </p>

        <a class="float-right" href="http://getbuildmate.com"><img src="/public/assets/images/getbuildmate.jpg"></a>

        <h3>Features</h3>

        <ul>
            <li>Foobar</li>
        </ul>

        <h3>Summary</h3>

        <p>Lorem ipsum dolor sit amet</p>

    </div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>Designer</li>
            <li>Back-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li>ASP.NET (MVC)</li>
            <li>C#</li>
            <li>SQL Server</li>
            <li>Photoshop</li>
            <li>HTML5</li>
            <li>CSS/Less</li>
        </ul>

        <strong>Hosted by</strong>

        <ul class="no-bullet striped-list">
            <li><a target="_blank" href="aspnethosting.co.uk">ASPNEThosting <span class="fa fa-external-link"></span></a></li>
        </ul>
    </div>
</div>