<h1>Live Auctions</h1>

<div class="row">
	<div class="small-9 columns">
		<p class="lead">
			Live auction application that uses socket.io to instantly update connected client machines when someone submits a bid.
		</p>

		<h3>Brief</h3>

		<p>lipsum lorem ipsum amet</p>

		<h3>Solution</h3>

		<p>lipsum lorem ipsum amet</p>

		<p class="text-center">
			<img src="/public/assets/images/gulfplates_view.png">
		</p>

		<p class="text-center">
			<a class="button large" target="_blank" href="http://178.62.213.155:3000/">View Live Auctions <span class="fa fa-external-link"></span></a>
		</p>
	</div>
    <div class="small-3 columns">
        <strong>Roles</strong>

        <ul class="no-bullet striped-list">
            <li>Front & Back-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li><em>M</em>ongoDb</li>
            <li><em>E</em>xpressJs</li>
            <li><em>A</em>ngularJS</li>
            <li><em>N</em>odeJS</li>
			<li>Javascript/jQuery</li>
            <li>HTML</li>
            <li>CSS/Less</li>
        </ul>

		<strong>Deployed with</strong>

		<ul class="no-bullet striped-list">
			<li>Gulp, NPM & GIT</li>
		</ul>

        <strong>Hosted by</strong>

        <ul class="no-bullet striped-list">
            <li><a target="_blank" href="https://m.do.co/c/31ca404ca4ce">DigitalOcean <span class="fa fa-external-link"></span></a></li>
        </ul>
    </div>
</div>