<h1>Property Portal <small>iqbayt.com</small></h1>

<p>
    <strike>View demo system <span class="fa fa-external-link"></span></strike>
</p>

<div class="row">
    <div class="medium-9 columns">
        <p class="lead">
            The brief for this project was to design and develop a fully functional property management website to advertise
            property for sale or available to rent. Initially the plan was for the portal to be launched in Qatar and from there
            slowly build interest and expand into other territories as awareness and demand grew.
        </p>

        <div class="float-right"><img src="/public/assets/images/iqbayt.jpg"></div>

        <h3>Features</h3>

        <ul>
            <li>CRUD Property Management</li>
            <li>User Registration &amp; Management</li>
            <li>REST API with Token Based Authentication</li>
            <li>Password Reset (Also token based)</li>
            <li>AWS S3 cloud storage - to store a potentially large quantity of property images</li>
        </ul>

        <h3>Summary</h3>

        <p>
            The project itself was developed as two loosely coupled front and back-end applications.
            The back-end application was built using NodeJS and ExpressJS as the main framework while
            MongooseJS was used as an object map to a MongoDB document store. Using these libraries I
            was able to create a Rest API that could be leveraged by the front-end system.
        </p>

        <p>
            Having taken an API first approach to this project, it meant I was able to consume my own API to
            create the front-end as a single-page web application using AngularJS. This allowed me to develop both applications
            in tandem while maintaining a separation of concerns between the two. The structure of the front-end code was
            heavily influenced by John Papa's <a class="_blank" href="https://github.com/johnpapa/angular-styleguide">Angular Style Guide <span class="fa fa-external-link"></span></a>. 
        </p>

        <p>
            <em>In this modern age I think any new web-application should be built with an API first mindset. This not only creates good separation of concerns
                and allows you to consume your own API, but it also allows third-partyies to integrate with it as well. Whether they want to create a
                native or desktop application or they need to upload and manage data from another data source, a good API will allow them to do this.</em>
        </p>
    </div>
    <div class="medium-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Front & Back-end Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li><em>M</em>ongoDb</li>
            <li><em>E</em>xpressJs</li>
            <li><em>A</em>ngularJS</li>
            <li><em>N</em>odeJS</li>
            <li>HTML</li>
            <li>CSS/Less</li>
        </ul>

        <strong>Integrations</strong>

        <ul class="no-bullet striped-list">
            <li>AWS S3 Storage</li>
        </ul>

		<strong>Deployed with</strong>

		<ul class="no-bullet striped-list">
			<li>Gulp, NPM & GIT</li>
		</ul>

        <strong>Hosted by</strong>

        <ul class="no-bullet striped-list">
            <li><a target="_blank" href="https://m.do.co/c/31ca404ca4ce">DigitalOcean <span class="fa fa-external-link"></span></a></li>
        </ul>
    </div>
</div>