<h1>Buildmate </h1>
<h3>Web application</h3>

<p class="lead">
    A web-based application that enables building companies and tradesmen to create estimates and tender documents.
</p>

<dl>
    <dt>Role</dt>
        <dd>Designer/Developer</dd>
    <dt>Technology</dt>
        <dd>ASP.NET VB Web Forms, Telerik .NET AJAX Controls, SQL Server, Photoshop, HTML5 & CSS3</dd>
</dl>

<!--<img src="http://images.functionfirst.co.uk/build_mate_app.jpg">-->

<p class="text-center">
    <a class="button large" href="https://buildmateapp.com">View Buildmate <span class="fa fa-external-link"></span></a>
</p>