<h1>Content Manager</h1>

<div class="row">
    <div class="small-9 columns">
        <p class="lead">
            An elegant, simple and unobtrusive content management system designed around a MongoDB document database.
        </p>

        <h2>The Brief</h2>

        <p>
            Lorem ipsum dolor sit amet.
        </p>

        <h2>Solution</h2>

        <p>
            Lorem ipsum dolor sit amet.
        </p>

        <p class="text-center">
            <a class="button" href="http://178.62.213.155:3000/">View Content Manager website</a>
        </p>
    </div>
    <div class="small-3 columns">
        <strong>Role</strong>

        <ul class="no-bullet striped-list">
            <li>Designer/Developer</li>
        </ul>

        <strong>Technology</strong>

        <ul class="no-bullet striped-list">
            <li><em>M</em>ongoDb</li>
            <li><em>E</em>xpressJs</li>
            <li><em>A</em>ngularJS</li>
            <li><em>N</em>odeJS</li>
            <li>HTML</li>
            <li>CSS/Less</li>
            <li>AWS S3 Storage</li>
        </ul>

        <strong>Hosting</strong>

        <ul class="no-bullet striped-list">
            <li><a href="https://m.do.co/c/31ca404ca4ce">DigitalOcean</a></li>
        </ul>
    </div>
</div>
