<h1>Live Auctions</h1>

<p class="lead">
	Live auction application that uses socket.io to instantly update connected client machines when someone submits a bid.
</p>

<dl>
	<dt>Role</dt>
		<dd>Designer/Developer</dd>
	<dt>Technology</dt>
        <dd>Socket.io, MongoDb, ExpressJS, AngularJS, NodeJS, HTML, LessCSS</dd>
</dl>

<img src="/public/assets/images/gulfplates_view.png">

<p class="text-center">
    <a class="button large" href="http://178.62.213.155:3000/">View Live Auctions <span class="fa fa-external-link"></span></a>
</p>