/* ABOUT */
.page-about a {
	color: #0AC2D2;
}

.tile {
	margin: 1%;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
	padding: 20px;
}
.tile h1 {
	margin-bottom: 20px;
}

.tile li {
	margin: 10px 0;
}

.tile dd {
	margin-bottom: 10px;
}

.experience li:before {
	content : "•";
	width: 20px;
	text-align: center;
	display: inline-block;
	color: #0AC2D2;
}

.rate:after {
	font-family: Arial, Helvetica, sans-serif;
	content : "◼◻◻◻◻";
	float: right;
	color: #0AC2D2;
	font-size: 24px;
}
.rate2:after { content : "◼◼◻◻◻"; }
.rate3:after { content : "◼◼◼◻◻"; }
.rate4:after { content : "◼◼◼◼◻"; }
.rate5:after { content : "◼◼◼◼◼"; }

@media only screen and (min-width:480px) {
	.tile dt {
		float: left;
	}

	.tile dd {
		margin-left: 120px;
	}
}

@media only screen and (min-width:960px) {
	.tile {
		float: left;
		width: 30%;
	}
}