/*.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}*/

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	padding-top: 100px;
}



/* ANIMATION - Horizontal translate between pages */
@-webkit-keyframes rotateSlideOut {
	0% { }
	25% { -webkit-transform: translateZ(-500px); }
	75% { -webkit-transform: translateZ(-500px) translateX(-200%); }
	100% { -webkit-transform: translateZ(-500px) translateX(-200%); }
}

@keyframes rotateSlideOut {
	0% { }
	25% { -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	75% { -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
	100% { -webkit-transform: translateZ(-500px) translateX(-200%); transform: translateZ(-500px) translateX(-200%); }
}

@-webkit-keyframes rotateSlideIn {
	0%, 25% { -webkit-transform: translateZ(-500px) translateX(200%); }
	75% { -webkit-transform: translateZ(-500px); }
	100% { -webkit-transform: translateZ(0) translateX(0); }
}

@keyframes rotateSlideIn {
	0%, 25% { -webkit-transform: translateZ(-500px) translateX(200%); transform: translateZ(-500px) translateX(200%); }
	75% { -webkit-transform: translateZ(-500px); transform: translateZ(-500px); }
	100% { -webkit-transform: translateZ(0) translateX(0); transform: translateZ(0) translateX(0); }
}

.ng-enter {
	visibility: visible;
	-webkit-animation: rotateSlideIn 1s both ease;
    z-index: 800;
}

.ng-leave {
	visibility: visible;
	-webkit-animation: rotateSlideOut 1s both ease;
    z-index: 900;
}


/* ANIMATION - overlay fade in/out */
.overlay {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.ng-enter + .overlay {
	visibility: visible;
	-webkit-animation: fadeIn 1s both ease;
}