@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

.ng-enter {
    animation: slideInRight 0.5s both ease-in;
    z-index: 8888;
    position: absolute;
}

.ng-leave {
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
    position: absolute;
}
