*{
	-webkit-box-sizing: 	border-box;
	-moz-box-sizing: 		border-box;
	box-sizing: 			border-box
}

body {
	background: #ee5e10;
	background-color: #333;
	color: #666;
	font: 14px/1.6em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
	text-decoration: none;
	outline: 0;
	color: #dc4321;
	-webkit-transition: color .2s linear;
	-moz-transition: 	color .2s linear;
	-ms-transition: 	color .2s linear;
	-o-transition: 		color .2s linear;
	transition: 		color .2s linear
}

a:hover {
	color: #b24934
}

img {
	width: 100%;
}

p {
	margin: 18px 0
}

dt {
	font-weight: 900
}

.content {
	/*padding: 20px;
	float: left;
	width: 100%;*/
}

.page-portfolio {
	background: #60D7A9;
}

.page-about {
	background-color: #0AC2D2;
}

.page-cv {
	background: #FD6A62;
}

/*@media only screen and (min-width:960px) {
	.content {
		margin-top: 80px;
	}
}*/