/* CV */
.cv .tile {
	float: none;
}

.cv .tile h2,
.cv .tile h3,
.cv .tile h4 {
	line-height: 2em;
}

.cv .tile h2 {
	color: #333;
}

.cv .tile h3 {
	color: #FD6A62;
}

.cv .tile h4 {
	color: #888;
	font-size: 12px;
}

.cv .tile p {
	margin-top: 20px;
}

.cv small {
	margin-top: 10px;
	display: block;
	color: #000;
}

@media only screen and (min-width:780px) {
	.cv .tile {
		width: 600px;
		margin-right: auto;
		margin-left: auto;
	}
}