.header {
	position: relative;
	padding: 20px;
	line-height: 32px;
	z-index: 999;
}

.header-title {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}

.header-subtitle {
	opacity: 0.6;
	letter-spacing: -1px;
}