.nav {
	.nav {
		margin-left: .5rem;
	}

	li {
		margin-top: .5rem;

		a {
			display: block;
			background-color: transparent;
			padding: 3px 8px;
			border-radius: 3px;
			.transition(.3s, linear);

			&:hover,
			&:focus {
				color: #444;
				background-color: rgba(51,51,51,0.1);
			}
		}
	}

	.active {
		> a,
		> a:hover,
		> a:focus  {
			 color: #fff;
			 background-color: rgba(0,0,0,0.4);
		}
	}

}

.nav-social {
	margin-top: 2rem;

	li {
		display: inline-block;
		margin: 4px;
	}

}