.nav {
	.nav {
		margin-left: .5rem;
	}

	li {
		li {
			margin-top: .5rem;
		}

		a {
			display: block;
			background-color: transparent;
			padding: 3px 8px;
			border-radius: 3px;
			.transition(.3s, linear);

			&:hover,
			&:focus {
				color: #444;
				background-color: rgba(51,51,51,0.1);
			}
		}
	}

	li 

	.active {
		> a,
		> a:hover,
		> a:focus  {
			 color: #fff;
			 background-color: rgba(0,0,0,0.4);
		}
	}

}

.nav-social {

	li {
		display: inline-block;
		margin: 1rem;
	}

}

header {

	a {
		display: block;
	}

}


/* Small only */
@media screen and (max-width: 39.9375em) {
	
}

/* Medium and down */
@media screen and (max-width: 63.9375em) {
	header {
		position: fixed;
		background: #f8f8f8;
		height: 80px;
		overflow: hidden;
		left: 0;
		top: 0;
		z-index: 10;
		// padding: 15px 15px 10px;
		right: 0;
		box-shadow: 0 0 30px rgba(0,0,0,0.1);
		border-bottom: 1px solid #eee;
		transition: height .3s ease-in-out;

		.header {
			padding: 15px;
		}

		.menu-icon {
			margin: 16px;

			&:focus {
				outline: none;
			}

			&:after {
				background-color: #555;
				box-shadow: 0 7px 0 #555, 0 14px 0 #555;
			}

		}

	}

	header.active {
		height: 100%;
	}

	nav {
		// position: fixed;
		// z-index: 8;
		// background-color: #f8f8f8;
		// top: 83px;
		// left: 0;
		// right: 0;
		// overflow: hidden;
		

		// > .nav {
		// 	margin: 1rem;
		// }

		.nav-social {
			margin: 1rem auto;
			text-align: center;
		}
	}
		

	.pt-page {
		margin-top: 80px;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {
	.menu-icon {
		display: none;
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}