/* PORTFOLIO */
.portfolio-article {
	margin: 0 0 20px;
}

.content-block,
.portfolio-link {
	display: block;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.portfolio-details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: #fff;
	height: 62px;
	padding: 20px;
	overflow: hidden;
	-webkit-transition: height .3s ease-in-out;
	-o-transition: height .3s ease-in-out;
	transition: height .3s ease-in-out;
}

.portfolio-header {
	font-size: 12px;
	text-transform: uppercase;
}

.portfolio-article:hover .portfolio-details {
	height: 100%;
}

.portfolio-description {
	color: #666;
}

.portfolio-article dl {
	font-size: 12px
}

.content-block {
	position: relative;
	margin: 0 auto;
	padding: 20px;
	max-width: 600px;
}

.content-control {
	top: 30px;
	position: absolute;
	background-color: #fff;
	height: 40px;
	width: 40px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.content-control:hover {
	opacity: 0.6;
}

.content-prev {
	left: -60px;
}

.content-next {
	right: -60px;
}

.content-control:before {
	position: absolute;
	content : "";
	top: 10px;
	left: 5px;
	border: 10px solid transparent;
	border-right-color: #EE5E10;
}

.content-next:before {
	left: 15px;
	border-right-color: transparent;
	border-left-color: #EE5E10;
}

@media only screen and (min-width:480px) {
	.portfolio-article dd {
		margin: 0;
	}

	.portfolio-article {
		margin: 1%;
	}
}

@media only screen and (min-width:780px) {
	.portfolio-link,
	.portfolio-article:hover .portfolio-details {
		height: 300px;
	}
	
	.portfolio-article {
		float: left;
		width: 48%;
	}

	.portfolio-article dt{
		float: left;
		width: 100px
	}

	.portfolio-article dd {
		margin-left: 100px;
	}
}

@media only screen and (min-width:960px) {
	.portfolio-article {
		width: 31%
	}
}

@media only screen and (min-width:1200px) {
	.portfolio-article {
		width: 23%
	}
}